<div class= "panel panel-default">
  <div class="panel-heading">
    <%= gravatar_tag post.user.email, size: 20 %>
    <%= post.user.username %>
    about <%= time_ago_in_words(post.created_at) %>
  </div>
  <div class="panel-body">
    <%= raw(post.content_html) %>
  </div>
</div>